// Partial file starts with _

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is
  // 10px of 16px , where 16px is default font-size in browsers
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
